# Assignment 3

**Please follow the instructions. Do not add new cell! Write your code in designated areas.**

In [83]:
import datetime
import socket

# Get local time
local_time = datetime.datetime.now().strftime("%Y-%m-%d %H:%M:%S")

# Get computer ID or hostname
computer_id = socket.gethostname()

# Print output with local time and computer ID
print('Assignment 1 & 2: Solutions by Clinton Boyda') # Please change your name here
print('Local Time:', local_time)
print('Computer ID:', computer_id)

Assignment 1 & 2: Solutions by Clinton Boyda
Local Time: 2023-09-22 22:29:05
Computer ID: Fusion-Lacie-iMac2012.local

## NumPy

1. Create a 2D numpy array of size 4x5 with random integers between 1 and 10. Find the maximum value of the entire array.

In [84]:
## Your code here down
import numpy as np

# Create a 2D array with random integers between 1 and 10
rnd_arr = np.random.randint(1, 11, size=(4, 5))
print(rnd_arr)

# print(mean)
#print(std) and so on
## Your code here up
# Calculate the descriptive statistics of the array
# default is axis=0, equivalent to each column
mean_value = np.mean(rnd_arr)
std_value = np.std(rnd_arr)
max_value = np.max(rnd_arr)
min_value = np.min(rnd_arr)

# Print array descriptive statistics
print("Mean:", mean_value)
print("Standard Deviation:", std_value)
print("Minimum:", min_value)
print("Maximum:", max_value)

[[ 3  4  2  2  2]
 [ 9  2  1  1  3]
 [ 4  6  2  1  2]
 [ 3  7 10  5  6]]
Mean: 3.75
Standard Deviation: 2.56661255354212
Minimum: 1
Maximum: 10

2. Create a 1D numpy array of size 20 with random floats between 0 and 1. Reshape the array into a 4x5 matrix. Compute the mean of each row.

In [85]:
## Your code here down
# Create a 1D array with random floats between 0 and 1
rnd_floats = np.random.rand(20)
print("1D numpy array of 20 random floats:\n",rnd_floats)

# Reshape the array into a 4x5 matrix
matrix_4x5 = rnd_floats.reshape(4, 5)
print ("Resize 1D into 4x5 matrix:\n",matrix_4x5)

## Your code here up
row_means = np.mean(matrix_4x5, axis=1)

# Print the row means on separate lines
print("Row Means:")
for mean in row_means:
    print(mean)

1D numpy array of 20 random floats:
 [0.76273576 0.30558697 0.7090309  0.28808388 0.36323179 0.47845986
 0.88559726 0.38917304 0.64371471 0.82719922 0.82466775 0.10388798
 0.00949542 0.9659359  0.72972089 0.92634201 0.99100677 0.65104823
 0.88581135 0.68294238]
Resize 1D into 4x5 matrix:
 [[0.76273576 0.30558697 0.7090309  0.28808388 0.36323179]
 [0.47845986 0.88559726 0.38917304 0.64371471 0.82719922]
 [0.82466775 0.10388798 0.00949542 0.9659359  0.72972089]
 [0.92634201 0.99100677 0.65104823 0.88581135 0.68294238]]
Row Means:
0.48573386047699885
0.6448288158454097
0.5267415875083732
0.8274301477187398

3. Create a 2D numpy array of size 5x5 with random integers between 1 and 100. Compute standard deviation of each column.

In [86]:
## Your code here down
# Create a 2D array with random integers between 1 and 100
rnd_arr = np.random.randint(1, 101, size=(5, 5))
print(rnd_arr)


## Your code here up
# Calculate the descriptive statistics of the array
mean_value = np.mean(rnd_arr,axis=0)
std_value = np.std(rnd_arr,axis=0)
max_value = np.max(rnd_arr,axis=0)
min_value = np.min(rnd_arr,axis=0)

# Print array descriptive statistics of each column
print("Descriptive Statistics for each Column:")
print("Mean:", mean_value)
print("Standard Deviation:", std_value)
print("Minimum:", min_value)
print("Maximum:", max_value)

[[85 96 85  4 66]
 [62 80 94  9 67]
 [89 92  5  3 63]
 [ 8 74 63  7 73]
 [12 32 64 38 90]]
Descriptive Statistics for each Column:
Mean: [51.2 74.8 62.2 12.2 71.8]
Standard Deviation: [34.90214893 22.82454819 31.00580591 13.0751673   9.66229786]
Minimum: [ 8 32  5  3 63]
Maximum: [89 96 94 38 90]

4. Create a 1D numpy array of size 15 with random floats between -10 and 10. Replace all negative values with their absolute values.

In [87]:
## Your code here down
# Create a 1D array with random floats between -10 and 10
rnd_floats = np.random.uniform(-10,10, size=15)
print("1D numpy array of 15 random floats between -10 and 10:\n",rnd_floats)

## Your code here up
abs_values = np.abs(rnd_floats)
print("Negative values replaced with absolutes:\n", abs_values)

1D numpy array of 15 random floats between -10 and 10:
 [-3.57721067  0.25693334 -8.97902165 -4.3202442  -1.61516143 -6.81036958
 -8.98982029 -4.92357331  9.97517317 -1.59242633 -1.95488438 -5.41711502
 -4.28650593  6.01859207  1.29378683]
Negative values replaced with absolutes:
 [3.57721067 0.25693334 8.97902165 4.3202442  1.61516143 6.81036958
 8.98982029 4.92357331 9.97517317 1.59242633 1.95488438 5.41711502
 4.28650593 6.01859207 1.29378683]

5. Create a 2D numpy array of size 3x4 with random integers between 1 and 100. Calculate the sum of all elements in the array.

In [88]:
## Your code here down
# Create a 2D array with random integers between 1 and 100
rnd_arr = np.random.randint(1, 101, size=(3, 4))
print(rnd_arr)

## Your code here up
arr_sum = np.sum(rnd_arr)
print("Sum of all array elements:",arr_sum)

[[ 75  23  18  23]
 [100  76  74   3]
 [ 47  87  35  52]]
Sum of all array elements: 613

7. Create a 2D numpy array of size 4x6 with random floats between 0 and 1. Normalize each column by subtracting the column mean and dividing by the column standard deviation.

In [89]:
## Your code here down
# Create a 2D array with random floats between 0 and 4
rnd_floats = np.random.uniform(0, 1, size=(4, 6))
# or rnd_floats = np.random.rand(4, 6)
print("Original 2D numpy array with random floats between 0 and 1:\n",rnd_floats)

## Your code here up
# Calculate column mean and standard deviation
column_means = np.mean(rnd_floats, axis=0)
column_std_devs = np.std(rnd_floats, axis=0)

# Normalize each column
normalized_array = (rnd_floats - column_means) / column_std_devs

print("\nNormalized Array:")
print(normalized_array)

Original 2D numpy array with random floats between 0 and 1:
 [[0.83665211 0.96745979 0.27626212 0.1409396  0.26877039 0.66148191]
 [0.32153221 0.4897412  0.70217558 0.42110718 0.59494829 0.19651324]
 [0.26506515 0.13966737 0.5980118  0.35590521 0.7946623  0.69326331]
 [0.01521169 0.47247209 0.00915042 0.68323676 0.8031308  0.01170238]]

Normalized Array:
[[ 1.59775691  1.52602334 -0.4397518  -1.34054683 -1.59900181  0.9202634 ]
 [-0.12755305 -0.09354953  1.11925892  0.10756101 -0.09424796 -0.66018636]
 [-0.31668025 -1.28037812  0.73797851 -0.2294497   0.82709105  1.02828985]
 [-1.1535236  -0.15209569 -1.41748564  1.46243552  0.86615873 -1.28836689]]

8. Create a 2D numpy array of size 10x10 with random integers between 1 and 100. Replace all values greater than 50 with 1 and all other values with 0.

In [90]:
## Your code here down
# Create a 2D array with random integers between 1 and 100
arr_rnd_ints = np.random.randint(1, 101, size=(10, 10))
print(arr_rnd_ints)

## Your code here up
# Replace values greater than 50 with 1 and others with 0
result_array = np.where(arr_rnd_ints > 50, 1, 0)

print("Replaced Array:")
print(result_array)

[[ 58  70  28   2 100  59  85  16  16   6]
 [ 89  35   1  58   5  24   8  47  29  91]
 [ 16  68  92  50  73   6  67  91  35  98]
 [ 38  13  32  17   8  55  96  76  53  32]
 [ 86  19  70   7  50  26  43   9   7  66]
 [ 84  22  74   4  64  62  45  74  68  10]
 [ 18  86  18  44  84  11  84  49  92  41]
 [ 51  40  64  63  80  95  69  85  90  83]
 [ 65  61  79  24  42  60  88  19   9  55]
 [  9  24  36  43  59  12  64   6  48  53]]
Replaced Array:
[[1 1 0 0 1 1 1 0 0 0]
 [1 0 0 1 0 0 0 0 0 1]
 [0 1 1 0 1 0 1 1 0 1]
 [0 0 0 0 0 1 1 1 1 0]
 [1 0 1 0 0 0 0 0 0 1]
 [1 0 1 0 1 1 0 1 1 0]
 [0 1 0 0 1 0 1 0 1 0]
 [1 0 1 1 1 1 1 1 1 1]
 [1 1 1 0 0 1 1 0 0 1]
 [0 0 0 0 1 0 1 0 0 1]]

9. Create a 1D numpy array of size 50 with random floats between 0 and 1. Find the number of elements greater than 0.5.

In [91]:
## Your code here down
# Create a 1D array with random floats between 0 and 1
rnd_floats = np.random.uniform(0,1, size=50)
print("1D numpy array of 50 random floats between 0 and 1:\n",rnd_floats)

## Your code here up
# Create a boolean mask for elements greater than 0.5
mask = rnd_floats > 0.5

# Count the number of True values in the mask
count_greater_than_0_5 = np.sum(mask)

# Print the count
print("Number of elements greater than 0.5:", count_greater_than_0_5)

1D numpy array of 50 random floats between 0 and 1:
 [0.33790969 0.07855288 0.02454143 0.90743032 0.02182185 0.26019883
 0.98646978 0.10292133 0.35158111 0.04778464 0.8859812  0.46499398
 0.24885726 0.34162621 0.53087163 0.57266272 0.70672037 0.00322562
 0.79462238 0.08800791 0.5665404  0.9215539  0.84326012 0.75662062
 0.12359884 0.53041299 0.98631924 0.87299344 0.55413472 0.34923751
 0.65430853 0.65096161 0.97433325 0.35035804 0.94840639 0.53915215
 0.34371779 0.76668794 0.21666699 0.81263158 0.65370178 0.0333625
 0.72794127 0.76164643 0.02284529 0.95149303 0.30692527 0.60075595
 0.17528034 0.01561937]
Number of elements greater than 0.5: 27

10. Create a 2D numpy array of size 5x5 with random floats between -1 and 1. Find the absolute difference between the maximum and minimum values in each row.

In [92]:
## Your code here down
# Create a 2D array with random floats between -1 and 1
arr_rnd_floats = np.random.uniform(-1, 1, size=(5, 5))
print(arr_rnd_floats)

## Your code here up
max_value = np.max(arr_rnd_floats, axis=1)
min_value = np.min(arr_rnd_floats, axis=1)

# Print array min/max for each row
print("Minimum:", min_value)
print("Maximum:", max_value)
print("Absolute row difference between min and max:\n",np.abs(max_value-min_value))

[[-0.115205   -0.75642528  0.33275247  0.88929945  0.60919889]
 [ 0.83893731  0.44325657  0.49073603 -0.43915925  0.4156958 ]
 [-0.21820454 -0.37584543 -0.27554647  0.80224971  0.55678609]
 [ 0.66794818 -0.45358033  0.82464403  0.54553936  0.55316859]
 [ 0.68700111  0.96203842  0.08449347 -0.16278105  0.14012794]]
Minimum: [-0.75642528 -0.43915925 -0.37584543 -0.45358033 -0.16278105]
Maximum: [0.88929945 0.83893731 0.80224971 0.82464403 0.96203842]
Absolute row difference between min and max:
 [1.64572474 1.27809656 1.17809514 1.27822436 1.12481947]

## Pandas

Please refer to the dataframe (farm data) we have created in this training. Please copy that cell and paste it below before starting this part.

In [93]:
import random
import pandas as pd

# Define the range for longitude and latitude
lon_range = (-105, -100)
lat_range = (50, 52)

# Define the list of soil types
soil_types = ['black', 'gray', 'dark brown', 'brown', None]

# Create an empty list to store the farms
farms = []

# Generate 40 farms
for i in range(200):
    farm = {
        'farm_name': f'Farm {i+1}', # f is formated string
        'farm_lon': round(random.uniform(lon_range[0], lon_range[1]), 2),   # random lon with 2 decimal points
        'farm_lat': round(random.uniform(lat_range[0], lat_range[1]), 2),   # random lat with 2 decimal points
        'temperature': round(random.uniform(18, 33), 1),                    # random temp with 1 decimal points
        'precipitation': round(random.uniform(20, 90), 1),                  # random prec with 1 decimal points
        'soil_type': random.choice(soil_types)                              # random soil types from above list
    }
    farms.append(farm)

In [94]:
df = pd.DataFrame(farms) # note DataFrame is case sensitive

In [95]:
df

    farm_name  farm_lon  farm_lat  temperature  precipitation soil_type
0      Farm 1   -103.15     51.32         23.8           63.3      None
1      Farm 2   -102.98     51.95         24.0           35.7      None
2      Farm 3   -103.74     50.03         25.6           27.6     brown
3      Farm 4   -101.48     51.23         31.7           89.8      None
4      Farm 5   -103.86     51.50         29.0           21.5      None
..        ...       ...       ...          ...            ...       ...
195  Farm 196   -102.51     50.18         22.0           26.3     black
196  Farm 197   -102.20     50.02         20.1           73.5      None
197  Farm 198   -101.34     51.13         31.1           40.0      gray
198  Farm 199   -104.28     50.10         23.5           21.7      None
199  Farm 200   -100.09     51.98         31.9           27.6      gray

[200 rows x 6 columns]

In [96]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   farm_name      200 non-null    object
 1   farm_lon       200 non-null    float64
 2   farm_lat       200 non-null    float64
 3   temperature    200 non-null    float64
 4   precipitation  200 non-null    float64
 5   soil_type      158 non-null    object
dtypes: float64(4), object(2)
memory usage: 9.5+ KB

In [97]:
df.describe()

        farm_lon    farm_lat  temperature  precipitation
count  200.00000  200.000000   200.000000     200.000000
mean  -102.63765   50.968650    25.518500      52.484500
std      1.41898    0.614442     4.165545      20.029448
min   -104.98000   50.010000    18.200000      20.300000
25%   -103.88250   50.425000    21.975000      35.575000
50%   -102.60000   50.925000    25.700000      51.600000
75%   -101.47500   51.552500    29.000000      69.825000
max   -100.03000   52.000000    33.000000      89.800000

1. Select the rows where the temperature is above 20 degrees Celsius.

In [98]:
## Your code here down
df[df['temperature'] > 20]

## Your code here up

    farm_name  farm_lon  farm_lat  temperature  precipitation soil_type
0      Farm 1   -103.15     51.32         23.8           63.3      None
1      Farm 2   -102.98     51.95         24.0           35.7      None
2      Farm 3   -103.74     50.03         25.6           27.6     brown
3      Farm 4   -101.48     51.23         31.7           89.8      None
4      Farm 5   -103.86     51.50         29.0           21.5      None
..        ...       ...       ...          ...            ...       ...
195  Farm 196   -102.51     50.18         22.0           26.3     black
196  Farm 197   -102.20     50.02         20.1           73.5      None
197  Farm 198   -101.34     51.13         31.1           40.0      gray
198  Farm 199   -104.28     50.10         23.5           21.7      None
199  Farm 200   -100.09     51.98         31.9           27.6      gray

[178 rows x 6 columns]

2. Sort the DataFrame by precipitation in descending order.

In [99]:
## Your code here down
df.sort_values(by='precipitation', ascending=False)

## Your code here up

    farm_name  farm_lon  farm_lat  temperature  precipitation   soil_type
3      Farm 4   -101.48     51.23         31.7           89.8        None
110  Farm 111   -101.24     50.40         32.2           89.6  dark brown
131  Farm 132   -102.94     50.19         32.9           89.1       black
184  Farm 185   -101.09     50.73         32.9           88.7        None
55    Farm 56   -100.19     51.82         23.6           88.2       black
..        ...       ...       ...          ...            ...         ...
198  Farm 199   -104.28     50.10         23.5           21.7        None
4      Farm 5   -103.86     51.50         29.0           21.5        None
169  Farm 170   -104.84     50.08         21.0           21.2  dark brown
177  Farm 178   -102.28     51.24         25.0           20.4        gray
153  Farm 154   -100.54     50.18         28.4           20.3       black

[200 rows x 6 columns]

3. Filter the DataFrame to include only the farms located within latitude (51.15 & 51.00) range.

In [100]:
## Your code here down
df[(df['farm_lat'] >= 51.00) & (df['farm_lat'] <= 51.15) ]

## Your code here up

    farm_name  farm_lon  farm_lat  temperature  precipitation   soil_type
7      Farm 8   -104.33     51.06         22.9           52.6  dark brown
31    Farm 32   -101.28     51.14         22.1           36.0        gray
39    Farm 40   -103.47     51.05         22.2           82.7        gray
43    Farm 44   -102.18     51.15         27.7           77.0       brown
66    Farm 67   -103.49     51.09         19.3           39.4       brown
72    Farm 73   -100.38     51.11         29.0           40.9       black
82    Farm 83   -104.31     51.13         28.3           86.8       black
105  Farm 106   -101.16     51.14         31.3           58.4        None
133  Farm 134   -104.15     51.02         24.9           37.9  dark brown
160  Farm 161   -102.57     51.00         24.0           39.6       brown
171  Farm 172   -101.88     51.08         21.8           57.7        None
187  Farm 188   -102.06     51.08         22.4           64.7        None
193  Farm 194   -102.94     51.02         20.4           53.9        None
197  Farm 198   -101.34     51.13         31.1           40.0        gray

 4. Calculate the standard deviation of precipitation for each soil type.

In [101]:
## Your code here down
# Group DataFrame by 'soil_type'
grouped_by_soil = df.groupby('soil_type')

# Calculate standard deviation of precipitation for each soil type
std_precipitation = grouped_by_soil['precipitation'].std()

## Your code here up
# Print the result
print(std_precipitation)

soil_type
black         18.508009
brown         20.560199
dark brown    20.510535
gray          21.106839
Name: precipitation, dtype: float64

5. Calculate the sum of precipitation for each soil type. (removing cumulative term from question to return 4 vs 200 rows)

In [114]:
## Your code here down
# Calculate cumulative sum of precipitation for each soil type
cum_precipitation = grouped_by_soil['precipitation'].sum()

## Your code here up
# Print the result
print(cum_precipitation)

soil_type
black         3076.2
brown         1402.2
dark brown    2256.2
gray          1693.6
Name: precipitation, dtype: float64

6. Determine the top 3 farms with the highest temperature.

In [103]:
## Your code here down
df.

## Your code here up

7. Find famrs in each soil type that have the highest temperature.

In [104]:
## Your code here down


## Your code here up

8. Create new column 'percentage_tot_prec' and add the percentage contribution of each farm's precipitation (relative to total precipitation) to the column.

In [105]:
## Your code here down


## Your code here up

9. Create a new column called "precipitation_rank" that ranks the farms based on their precipitation in ascending order, with ties being assigned the same rank.

In [106]:
## Your code here down


## Your code here up

10. Normalize the temperature column to a range between 0 and 1 for each farm.

In [107]:
## Your code here down


## Your code here up

# Assignment 4

## ETL

11. Change column types accordingly.

In [108]:
## Your code here down


## Your code here up

## EDA

12. Find missing values and give information how would you handle them

In [109]:
## Your code here down


## Your code here up

13. Find outliers if there is any how would you handle them

In [110]:
## Your code here down


## Your code here up

14. Find descriptive statistics for relavant columns and plot them by using bars.

In [111]:
## Your code here down


## Your code here up

15. Plot the distribution of relevant columns.

In [112]:
## Your code here down


## Your code here up